body{
    font-family: 'Nunito', sans-serif;

}
h1{
    font size: 50%;;
}
.name-heighlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}