body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    
    }
h1{
    font-size: 50px;
}
.head-one{
    color: chocolate;
}
.half-width{
    width: 40%;
    float: left;
}
.half-width img{
    width: 100%;
}